.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README
.jupyter/lab/workspaces/default-37a8.jupyterlab-workspace
.local/share/jupyter/nbsignatures.db
.local/share/jupyter/notebook_secret
.local/share/jupyter/runtime/jpserver-7-open.html
.local/share/jupyter/runtime/jpserver-7.json
.local/share/jupyter/runtime/jupyter_cookie_secret
.local/share/jupyter/runtime/kernel-408d26a2-0f08-4f02-820a-d91df38404df.json
.npm/_logs/2024-11-29T02_11_48_713Z-debug-0.log
.DS_Store
.ipynb_checkpoints
.npm/_logs
.bash_history
.cache
.jupyter
.local
src/__pycache__
